[submodule "Vulpine/vendor/glm"]
	path = Vulpine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Vulpine/vendor/glfw"]
	path = Vulpine/vendor/glfw
	url = https://github.com/TheCherno/glfw
[submodule "Vulpine/vendor/spdlog"]
	path = Vulpine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Vulpine/vendor/benchmark"]
	path = Vulpine/vendor/benchmark
	url = https://github.com/psyGamer/benchmark
